<%- include("partials/header.ejs") %>
<section id="about" class="about-section background-image">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h3 class="about-heading">Welcome to My Corner of the Internet!</h3>
                <p class="about-text type-it" data-text="Hi there 👋 I'm thrilled you have stopped by. My name is Pushpit (PK) and this is my personal space where I share thoughts, ideas, and a bit of everything that sparks my interest. From the ever-evolving world of IT technologies to the exciting realm of video games and fascinating lives of - this is my digital playground. fictional characters, food, education, social reflections and more diverse topics."></p>
                <p class="about-text type-it" data-text="Here, you'll find posts that dive into tech trends, explore educational insights, reflect on social topics, and geek out some of the best (and maybe most underrated) games and characters. Sometimes, I might even get a little introspective, reflecting on life and the world around us."></p>
                <p class="about-text type-it" data-text="Whether you're here to learn something new or find a fresh perspective, or just enjoy a good read, I hope you feel at home. So grab a cup of coffee (or tea if that's your thing) and start reading."></p>
                <p class="about-text type-it" data-text="Please feel free to reach out to me on LinkedIn, Facebook, Instagram, Twitter or drop a message from the Contact section, and I'll get back to you ASAP. Cheers!"></p>
            </div>
        </div>
    </div>
</section>
<%- include("partials/footer.ejs") %>